/* Global CSS Reset & Base Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #336633;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #33ff33;
}